<h2>Kastane Drop Down Demo</h2>
<p>Drop downs for kastane</p>

<div class="col-md-3">
  <div class="form-group screening-question-asnwers">
    <div class="display-flex">
      <kastane-dropdown
        class=""
        [idField]="'id'"
        [nameField]="'name'"
        [small]="true"
        [outline]="false"
        [shadow]="true"
        [selected]="selectedQuestionType"
        [options]="questionTypes"
        (change)="changeQuestionTypeTemp($event)"
      >
      </kastane-dropdown>
    </div>
  </div>
</div>




<br /><br /><br /><br /><br />

Style has been not applied.
Final dropdown will look like this. <br />

<img src="https://cdn.jsdelivr.net/gh/ktmsandunsiri/angular-e7to9f@master/src/app/image.png" />
